.totalHuman {
  position: relative;
  text-align: center;
}

.femalePhoto img {
  max-width: 100%;
  max-height: 100%;
}

.totalHumanText {
  position: absolute;
  left: 30%;
  top: 45%;
  transform: translate(-30%, -30%);
  font-family: 'Nexa', sans-serif;
  text-align: left;
  
}

.totalHumanText h4 {
  /* top: .1em; */
  letter-spacing: 4px;
  line-height: 1;
  font-weight: 550;
  font-size: 18px;
  text-transform: uppercase;
}

.totalHumanText h1 {
  color: #fff;
  margin-bottom: 2rem;
  margin-top: 0;
  letter-spacing: 1px;
  line-height: .875;
  font-weight: 800;
  /* font-stretch: extra-condensed; */
  text-transform: uppercase;
  font-size: 61px;
}

a {
  color: #fff;
  text-decoration: underline;
}