.container {
  font-family: 'Montserrat', sans-serif;
  margin-left: 2%;
  margin-right: -30%;
  margin-top: 3%;
}

.new-mood {
  display: flex;
  margin-bottom: 5%;
}

.product-img img {
  height: 415px;
  width: 700px;
}

.new-mood-text {
  margin-left: 12%;
  margin-top: 10%;
}

.new-mood-text p {
  line-height: 23px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
}

.tshirt {
  display: flex;
  margin-bottom: 5%;
}

.shirt-text {
  margin-top: 5%;
  padding-right: 20px;
}

.shirt-text p {
  line-height: 23px;
}

.product-img {
  margin-right: -8%;
}

.alpha-brain {
  display: flex;
}

.alpha-text {
  margin-left: 12%;
  margin-top: 5%;
  margin-right: -8%;
  line-height: 23px;
}

.alpha-text h3 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}

.alpha-text p {
  line-height: 23px;
}
.product-category {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 8%;
}

.media { 
  min-width: 0;
  }
  
.media img {
  width: 400px;
  height: 310px;
  }

.text h4 {
  position: absolute;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1;
  font-weight: 550;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 10%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.text a {
  line-height: 1;
  font-weight: 550;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#mace-txt {
margin-left: -28%;

}

#med-txt {
  margin-left: -28%;
  margin-top: -5%;
}

#cardio-txt {
  margin-left: -28%;
  margin-top: -5.5%;
}