<div class="container">
  <div class="new-mood">
      <div class="product-img">
          <img src="./../assets/img/newmood.jpg" alt="supplement photo">
      </div> 
      
      <div class="new-mood-text">
          <h3>A real chill pill.</h3>
          <p>New Mood is a daily supplement designed to support natural serotonin production by providing more of your body's good mood building blocks.</p><br>
          <a href="#">Shop New Mood</a>
      </div>
   </div>

   <div class="tshirt">
      <div class="shirt-text">
          <h3>Go 4th and Explore Limited Edition Tee.</h3>
          <p>Over 50% of Americans don't take all their vacation days. This summer, don't be a statistic. Go out and see America. Available now, the Go 4th and Explore T-shirt was designed and made in the US. While supplies last, 5% of the profits benefit Hire Heroes USA.</p><br>
          <a href="#">Shop the Go 4th and Explore Tee now</a>
      </div>

      <div class="product-img">
          <img src="./../assets/img/shirt.jpg" alt="shirt photo">
      </div> 
   </div>

   <div class="alpha-brain">
      <div class="product-img">
          <img src="./../assets/img/alpha-focus.jpg" alt="supplement photo">
      </div> 
      
      <div class="alpha-text">
          <h3>Razor sharp clarity.</h3>
          <p>Laser focus meets effortless concentration. Alpha Brain is the flagship nootropic, a brain vitamin that's like another gear for your brain. You feel Alpha Brain working the first time you take it, and is the only nootropic clinically-studied to show improvement in memory, focus, and mental processing speed.</p><br>
          <a href="#">Shop Alpha Brain</a>
      </div>
   </div>

   <div class="product-category">
      <div class="media">
          <a href="#"><img src="./../assets/img/mace.jpg" alt="mace photo"></a>
          <div class="text">
            <h4 id ="mace-txt">The beginner's<br>guide to the<br>steel mace <br><a href="#">Free Ebook</a></h4>
            
          </div>
      </div>
    
      <div class="media">
          <a href="#"><img src="./../assets/img/meditate.jpg" alt="meditation photo"></a>
          <div class="text">
            <h4 id ="med-txt">The ultimate<br>morning<br>meditation<br>routine for<br>relaxation<br><a href="#">Read more</a></h4>
            
          </div>
      </div>
    
      <div class="media">
          <a href="#"><img src="./../assets/img/cardio.jpg" alt="cardio photo"></a>
          <div class="text">
            <h4 id ="cardio-txt">How much<br>cardio do you<br>need to get<br>ripped for<br>the summer?<br><a href="#">Read more</a></h4>
          </div>
      </div>
    </div>
</div>
