<div class="totalHuman">
  <div class="femalePhoto">
    <div class="text">
      <h4>Easiest way to get optimized</h4>
      <h1>Total human, day & night</h1>

      <a href="#">See the day & night difference</a>

    </div>
  </div>
</div>

<div class="mission">
  <h4>Onnit is</h4>
  <h1>Total human optimization</h1>
  <p>
    We’re athletes, biohackers, professionals, retirees, parents, gamers, fighters, tradespeople, and forever students. We’re all human, trying to get a little better at what we love every day.</p><br><br>
  <p>
    The human body is our instrument that we play to achieve greatness, and optimizing it for peak performance requires the proper nutrition, fitness, and supplementation.</p>
</div>
