<div class="header">
  <div class="text">
    <div class="invite">
      <p>Invite friends & get $20</p>
    </div>
    
    <div class="reward">
      <p>Onnit x Rewards: Earn points for exclusives</p>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg">
    <a href="#"><img id="logo" src="./../assets/img/onnit-logo.svg" width="115" height="30" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="middle-links" class="nav-item" href="#">Supplements</a>
      <a id="middle-links" class="nav-item" href="#">Nutrition</a>
      <a  id="middle-links"class="nav-item" href="#">Fitness</a>
      <a  id="middle-links"class="nav-item" href="#">Apparel</a>
      <a  id="middle-links" class="nav-item" href="#">Sale + More</a>
      <a id="middle-links" class="nav-item" href="#">Content</a>

      <div id="right-items">
        <a class="nav-item" href="#">Search</a>
        <img src="./../assets/img/search.png" width="22" height="25" alt="Search icon">
        <a class="nav-item" href="#">Account</a>
        <img src="./../assets/img/account.png" width="22" height="25" alt="Account icon">
        <a class="nav-item" href="#">Bag </a>
        <img src="./../assets/img/bag.png" width="22" height="25" alt="Bag icon">
      </div>

    </div>

  </div>
</nav>
