<div class="header">
  <div class="text">
    <div class="invite">
      <p>Invite friends & get $20</p>
    </div>
    
    <div class="reward">
      <p>Onnit x Rewards: Earn points for exclusives</p>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="./../assets/img/onnit-logo.svg" width="100" height="30" alt="">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item active" href="#">Supplements</a>
      <a class="nav-item active" href="#">Nutrition</a>
      <a class="nav-item active" href="#">Fitness</a>
      <a class="nav-item active" href="#">Apparel</a>
      <a class="nav-item active" href="#">Sale + More</a>
      <a class="nav-item active" href="#">Content</a>
    </div>
  </div>
</nav>
