.product-category {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 5%;
}

.media { 
  min-width: 0;
  }
  
img {
  width: 400px;
  height: 335px;
  padding: 10px;
  }

.text {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1;
  font-weight: 550;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 12%;
}

#nut-txt {
  padding-left: 2%;
}

#sup-txt {
  padding-left: 6%;
}

#fit-txt {
  padding-left: 10%;
}