<div class="product-category">
  <div class="media">
      <a href="#"><img src="./../assets/img/nutrition.jpg" alt="nutrition photo"></a>
      <h4 class="text" id ="nut-txt">Nutrition & Food</h4>
  </div>

  <div class="media">
      <a routerLink="supplements"><img src="./../assets/img/supplements.jpg" alt="supplements photo"></a>
      <h4 class="text" id ="sup-txt">Supplements</h4>
  </div>

  <div class="media">
      <a href="#"><img src="./../assets/img/fitness.jpg" alt="fitness photo"></a>
      <h4 class="text" id ="fit-txt">Fitness</h4>
  </div>
</div>
