.mission {
    font-family: 'Nexa', sans-serif;
    text-align: center;
    padding-top: 5rem;
    /* position: relative; */
    padding-right: 15%;
    padding-left: 15%;
}

.mission h4 {
    color: #999;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 0;
    letter-spacing: .155625em;
    font-weight: 700;
    font-size: 16px;
    top: .1em;
}

.mission h1 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: 70px;
    line-height: 60px;
    font-weight: bold;
}

.mission p {
    font-weight: 100;
    font-size: 19.5px;
}

a {
    color: #999;
    font-size: 16px;
    font-weight: 530;
    text-decoration: underline;
}