<div class="mission">
    <h4>Onnit is</h4>
    <h1>Total human optimization</h1>
    <p>
        We’re athletes, biohackers, professionals, retirees, parents, gamers, fighters, tradespeople, and forever students. We’re all human, trying to get a little better at what we love every day. <br><br> The human body is our instrument that we play
        to achieve greatness, and optimizing it for peak performance requires the proper nutrition, fitness, and supplementation.<br><br> Onnit provides these foundations to support your human journey.<br><br>
        <a href="#">Watch video</a>
    </p>
</div>

<div class="products">
    <div class="flexItems">

        One of three columns One of three columns One of three columns

    </div>
</div>