.supplement-header {
  position: relative;
  text-align: center;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
}

.supplementText {
  position: absolute;
  top: 30%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  left: 0;
  text-align:center;
  width: 100%
}

.supplementText p {
  font-size: 1.125rem;
}

.supplementText h4 {
  font-size: 3.375rem;
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: extra-condensed;
  font-family: 'Oswald', sans-serif;
}

.flex {
  display: flex; 
}

nav {
  white-space: nowrap;
  background: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  /* margin-right: 80%; */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: sticky;
  text-align: right;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #171717;
  text-decoration: none;
  
}

.supplements {
  width: 150px;
  height: 200px;
}