body {
  font-family: 'Montserrat', sans-serif;
}

.supplement-header {
  position: relative;
  text-align: center;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
}

.supplementText {
  position: absolute;
  top: 30%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  left: 0;
  text-align: center;
  width: 100%
}

.supplementText p {
  font-size: 1.125rem;
}

.supplementText h4 {
  font-size: 3.375rem;
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: extra-condensed;
  font-family: 'Oswald', sans-serif;
}

.side-nav-container {
  display: flex; 
}

nav {
  white-space: nowrap;
  background: rgb(255, 255, 255);
  top: 0;
  position: sticky;
  margin-right: 5%;
  margin-left: 10%;
}

nav ul {
  list-style: none;
  text-align: right;
  font-size: 12px;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #171717;
}

.label {
  background: #f5f5f5;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: .625rem;
}

.supplement-img {
  width: auto;
  height: 350px;
}

.supplement-list-container {
  display: flex;
  flex-wrap: wrap;
}

.supplement-list {
  position: relative;
  padding: 10px;
  text-align: left;
}

p {
  font-size: 12px;
}

h3 {
  font-size: .95625rem;
  text-align: left;
  font-weight: 800;
}

.rating-img {
  width: auto;
  height: 20px;
}

button {
  width: 100%;
  border-width: 1px;
  padding-top: .8125rem;
  padding-bottom: .8125rem;
  white-space: nowrap;
  border-color: #171717;
  text-transform: uppercase;
  background-color: transparent;
}

button:hover {
  background-color: #000;
  color: #fff;
}